$wardBlueColor: #0282F9;
$headerGrayColor: #464646;
$mainBlueColor: #0282F9;
$footerGrayColor: #959595;
$endFooterColor: #303030;
$endFooterIcons: #00a9d9;
$cardbgColor: #1C1C1C;
$fontFamily: "Open Sans Condensed", sans-serif;